.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.footer {
  background-image: url('../images/footer_bg.jpg');
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 1rem;
  text-align: center;
}
.values {
  background-image: url('../images/portfolio_bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}

ul {
    list-style-type: none;
    margin-bottom: 1rem;
    padding: 0;
}
ul li:first-child {
  margin-left: 0rem;
}
li {
  display: inline;
  margin-left: 2rem;
}
li span {
  font-size: 3rem !important;
  color: white;
}

.profile {
  width: 50% !important;
  border-radius: 2rem;
}

article {
  text-align: left;
}

.button-white {
  color: white;
}
