/* GENERAL SETUP */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  word-wrap: break-word;
}
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
/* HEADINGS TYPOGRAPHY*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }

h1 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 2.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 2.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 1.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 0.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 0.5rem; line-height: 1.6;  letter-spacing: 0; }

p {
  margin: 0;
}

a {
  font-size: 1.5rem;
  color: #848484;
  text-decoration: none;
  border: none;
}
/*CLASSES*/
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.horizontal-list {
  list-style: none;
  margin: 1rem auto 0 auto;
  padding: 0;
}
.horizontal-list li {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
}
.horizontal-list li:last-child {
  margin-right: 0;
}

.center-text {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.bottom-border {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.email-link {
  margin-top: 1rem;
}
/* HEADER NAVIGATION */
#header {
  padding: 1.5rem 0;
}
#header h1 {
  margin-bottom: 0;
}

/* ABOUT*/
#about {
  padding: 1.5rem 0;
}
#about img {
  border-radius: 100%;
  width: 60%;
  margin: 4rem auto;
  display: block;
}

/* PROJECTS */
#projects {
  padding: 3rem 0 1.5rem 0rem;
}
#projects figure {
  margin: 0 0 2rem 0;
  text-align: left;
}



#projects figure a img {
  width: 50%;
  margin-right: 1rem;
  float: left;
}
#projects figure figcaption {
  display: block;
}
#projects figure figcaption h3 {
  margin-bottom: 1rem;
}

/* FOOTER */
#footer {
  padding: 3rem 0 1.5rem 0;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
  background-color: #000;
}
#footer h2 {
  margin-bottom: 1rem;
  color: #fff;
}
#footer p {
  color: #848484;
}
#footer address{
  margin: 1rem auto;
  text-align: center;
}
#footer address a{
  display: block;
}
#footer .horizontal-list {
  margin: 2rem auto;
}
#footer .horizontal-list li {
  margin-right: 2rem;
}
#footer .horizontal-list li:last-child {
  margin-right: 0;
}
#footer .horizontal-list i {
  font-size: 2.5rem;
}

@media (min-width: 25rem) {
  /*CLASSES*/
  .container {
    width: 85%;
    padding: 0; }
}

@media (min-width: 46rem) {

  /*HEADINGS TYPOGRAPHY*/
  h1 { font-size: 4.0rem;}
  h2 { font-size: 3.6rem;}
  h3 { font-size: 3.0rem;}
  h4 { font-size: 2.4rem;}
  h5 { font-size: 1.8rem;}
  h6 { font-size: 1.5rem;}
  p,a { font-size: 2rem;}


  /*CLASSES*/
  .container {
    width: 80%;
  }
  .horizontal-list li {
    margin-right: 2rem;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #848484;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}
  /*HEADER*/
  #header {
    padding: 2.5rem 0;
  }
  /*ABOUT*/
  #about {
    padding: 2.5rem 0;
  }
  #about img {
    width: 40%;
  }
  /*PROJECTS*/
  #projects {
    padding: 4rem 0 2.5rem 0;
  }
  #projects figure {
    width: 50%;
  }
  #projects figure:nth-child(odd) {
    padding-right: 1rem;
  }
  #projects figure:nth-child(even) {
    padding-left: 1rem;
  }
  #projects figure:last-child {
    float:none;
    margin: 0 auto 2rem auto;
  }
  #projects figure a img {
    width: 100%;
    float: none;
    margin-right: 0;
  }
  /*FOOTER*/
  #footer {
    padding: 4rem 0 2.5rem 0;
  }
  #footer .horizontal-list li {
    margin-right: 3rem;
  }
}

@media (min-width: 60rem) {
  /*ABOUT*/
  #about img {
    width: 30%;
  }
  /*PROJECTS*/
  .grid {
    justify-content: center;
  }
  #projects figure {
    width: 30.6666666667%;
    margin-bottom: 3rem;
    padding: 1rem;
  }
  #projects figure:last-child {
    margin: 0;
  }
}
@media (min-width: 75rem) {
  /*HEADINGS*/
  h1 { font-size: 4.5rem;}
  h2 { font-size: 4.1rem;}
  h3 { font-size: 3.5rem;}
  h4 { font-size: 2.9rem;}
  h5 { font-size: 2.3rem;}
  h6 { font-size: 2.0rem;}
  p,a { font-size: 2.5rem;}
}
